doctype html
html
  head
    link(type="text/css", rel="stylesheet", href="index.css")
  body
    aside
      ul
        li 
          a(href='/1') node buffer
        li PWA
        li React
        li Vue
        li node stream
        li http, tcp, dcp
        li 浏览器渲染
        li cdn
        li 安全机制
        li Typescript
    article
      include index.pug